.container-tutorial {
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lemon-image{
  width: 20px;
  height: auto;
}

.card-order{
  width: 80px;
  height: 40px;
  line-height: 35px;
  margin: auto;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgb(244, 244, 244);
}

.arrow{
  font-size: 40px;
  color: #484846;
  text-align: center;
  margin: auto;
}


// .line{
//   margin: auto;
//   height: 20px;
//   width: 0px;
//   margin-bottom: auto;
//   border: 1px solid #000;
// }
