<div class="ingredients-card mb-2">
  <div class="d-flex justify-content-between mx-2 ingredient-text">
    <p class="my-2"><%= uploaded_ingredient.ingredient.name.capitalize %></p>
    <p class><%= link_to uploaded_ingredient_path(uploaded_ingredient), data: {turbo_method: :delete} do %></p>
      <i class="fas fa-trash"></i>
    </div>
  <% end %>
</div>
