.container-meal-preference {
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-preference{
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid $black;
    border-radius: 10px;
    background-color: $white;
}

.preference-title{
  border-bottom: 2px solid;
}


.index-input{
  width: 100px;
  text-align: center;
}

.card-done{
  font-size: 20px;
  background-color: rgb(255, 158, 64);
  width: 100%;
  padding: 10px;
  border: 2px solid $black;
  border-radius: 30px;
  color: $black;
}
