.container-meal-preference {
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-preference{
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 10px;

}
