<div class="navbar">
  <div class="container-fluid">

    <ul class="nav-links">
      <div class="container text-center">
        <div class="row d-flex justify-content-evenly">
          <div class="col">
            <li>
              <%= link_to "#" do %>
                <i class="fa-regular fa-user"></i>
              <% end %>
            </li>
          </div>
          <div class="col">
            <li>
              <%= link_to meals_path, id:"cookbtn", data: {turbo_method: "POST"} do %>
                <i class="fa-solid fa-bowl-food"></i>
              <% end %>
            </li>
          </div>
          <div class="col">
            <li>
              <%= link_to bookmarks_user_path(current_user) do %>
                <i class="fa-regular fa-bookmark"></i>
              <% end %>
            </li>
          </div>
        </div>
      </div>
    </ul>

  </div>
</div>
