<div class="quick-menu">
  <div class="text-center">
    <div class="recipe-category">
      <i class="fa-solid fa-drumstick-bite fa-2xl"></i>
    </div>
    Dinner
  </div>
  <div class="text-center align-content-center align-items-center ">
    <div class="recipe-category">
      <i class="fa-solid fa-mug-saucer fa-2xl"></i>
    </div>
    Breakfast
  </div>
  <div class="text-center align-content-center">
    <div class="recipe-category">
      <i class="fa-solid fa-pizza-slice fa-2xl"></i>
    </div>
    Lunch
  </div>
  <div class="text-center">
    <div class="recipe-category">
      <i class="fa-solid fa-ice-cream fa-2xl"></i>
    </div>
    Dessert
  </div>
  <div class="text-center">
    <div class="recipe-category">
      <i class="fa-solid fa-cookie fa-2xl"></i>
    </div>
    Snack
  </div>
  <div class="text-center">
    <div class="recipe-category">
      <i class="fa-solid fa-seedling fa-2xl"></i>
    </div>
    Healthy
  </div>

</div>
