<div class="recipe-card">
  <div class="recipe-card-image" style="background-image: url('<%= @recipe.image %>');">
  </div>
  <div class="recipe-card-content">
    <div>
      <div class="title">
        <h5><%= @recipe.title %></h5>
      </div>
      <div>
      STARS
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a href="#" class="btn btn-success">COOK</a>
    </div>
  </div>
</div>
