<div class="recipe-card">
  <div class="recipe-card-image" style="background-image: url('<%= "http://source.unsplash.com/featured/?#{@recipe.title}&#{rand(10)}" %>');">
    <div class="like-count">
      <i class="fa-solid fa-heart"> <%= rand(50..2473) %></i>
      </div>
  </div>
  <div class="recipe-card-content">
    <div>
      <div class="title">
        <h5><%= @recipe.title %></h5>
      </div>
    </div>
  </div>
  <%= link_to "", bookmarks_user_path(current_user, recipe: @recipe), data:{turbo_method: :post}, class: "card-link" %>
</div>
