.pantry_ingredients-card{
  border: solid ;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
}

.added-ingredients{
  background-color: rgb(252, 212, 93);
  border: solid ;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.check-box{
  position: absolute;
  transform: scale(0);
}

.check-box + label{
  cursor: pointer;
  background-color: white;
  border: solid ;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.check-box:checked + label{
  cursor: pointer;
  background-color: rgb(252, 212, 93);
  border: solid ;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

// .card-pantry{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
