<div class="container-tutorial">
  <%= link_to 'Back',  dashboard_path %>
  <div class="d-flex justify-content-center align-items-center mt-3
  ">
    <h1>How you can get a recipe?</h1>
  </div>
  <div><%= image_tag "tutorial/komatta_lemon.png", class: "mb-5 lemon-image" %></div>
  <div class="card-preference">
    <div class="text-center mb-4 preference-title">
      <h4>Step 1</h4>
    </div>
    <div>
      <p><i class="mr-2 fa-solid fa-camera" style="color: #484846; margin-right: 5px;"></i>Turn on your camera</p>
    </div>
    <div>
      <%# <%= image_tag "#", class: "" %>
    </div>
  </div>
  <p><i class="fa-solid fa-angles-down d-flex justify-content-center align-items-center arrow"></i></p>
  <div class="card-preference">
    <div class="text-center mb-4 preference-title">
      <h4>Step 2</h4>
    </div>
    <div>
      <p><i class="fa-regular fa-pen-to-square" style="color: #484846;"></i>Check your ingredients</p>
    </div>
  </div>
  <p><i class="fa-solid fa-angles-down d-flex justify-content-center align-items-center arrow"></i></p>
  <div class="card-preference">
    <div class="text-center mb-4 preference-title">
      <h4>Step 3</h4>
    </div>
    <div>
      <p>Set your cooking preference.<br>
        You can customize the time of cooking and number of people for a dish</p>
    </div>
  </div>
  <p><i class="fa-solid fa-angles-down d-flex justify-content-center align-items-center arrow"></i></p>
  <div class="card-preference">
    <div class="text-center mb-4 preference-title">
      <h4>Step 4</h4>
    </div>
    <div>
      <p>Choose the recipe and Cook!</p>
    </div>
  </div>
  <p><i class="fa-solid fa-angles-down d-flex justify-content-center align-items-center arrow"></i></p>
  <div class="card-preference">
    <div class="text-center mb-4 preference-title">
      <h4>Step 5</h4>
    </div>
    <div>
      <p>You can write your review and add your gallery
        Add to your favorite if you like it!</p>
    </div>
  </div>
</div>
