<div class="container-meal-preference">
  <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
    <h1>Tell me more!</h1>
  </div>
  <div class="card-preference">
    <%= simple_form_for @meal do |f| %>
      <div class="text-center mb-4 preference-title">
        <h4>Time Available</h4>
      </div>
      <div class="d-flex justify-content-evenly" data-controller="form-increment">
        <i class="fa-solid fa-circle-minus fa-2x" style="color: #878787;" data-action="click->form-increment#timeDown"></i>
        <%= f.input :time_preference, label: false, input_html: { class: "index-input", data: { form_increment_target: "input"}, value: @meal.people_preference.nil? ? 30 : @meal.time_preference } %>
        <p class="mt-2">mins</p>
        <i class="fa-solid fa-circle-plus fa-2x" style="color: #fcd444;" data-action="click->form-increment#timeUp"></i>
      </div>
    </div>
    <div class="card-preference">
      <div class="text-center mb-4 preference-title">
        <h4>People Available</h4>
      </div>
      <div class="d-flex justify-content-evenly" data-controller="form-increment">
        <i class="fa-solid fa-circle-minus fa-2x" style="color: #878787;" data-action="click->form-increment#peopleDown"></i>
        <%= f.input :people_preference, label: false,  input_html: { class: "index-input", data: { form_increment_target: "input"}, value: @meal.people_preference.nil? ? 1 : @meal.people_preference } %>
        <i class="fa-solid fa-circle-plus fa-2x" style="color: #fcd444;" data-action="click->form-increment#peopleUp"></i>
      </div>
      <div>
      </div>
    </div>
    <%= f.submit 'Done!', class: "mx-auto d-block card-done" %>
  <% end %>
</div>
