.btn-primary {
  color: $white;
  font-size: 20px;
  background-color: $orange;
  border-color: $white;
  padding-left: 22px;
  padding-right: 22px;
  border-width: 2px;
}

.btn-primary:hover {
  color: $white;
  background-color: #ffae0b;
}

.btn-secondary {
  color: $black;
  font-size: 20px;
  background-color: $white;
  border-color: $orange;
  padding-left: 22px;
  padding-right: 22px;
  border-width: 2px;
}

.btn-success {
  color: $black;
  font-size: 20px;
  background-color: $orange;
  border-color: $black;
  border-width: 2px;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: $light-yellow;
  border-radius: 2px;
}
