.btn-primary {
  color: $white;
  font-size: 20px;
  background-color: $orange;
  border-color: $white;
  padding-left: 22px;
  padding-right: 22px;
  border-width: 2px;
  height: fit-content;
}

.btn-primary:hover {
  color: $white;
  background-color: #ffae0b;
}

.btn-secondary {
  color: $black;
  font-size: 20px;
  background-color: $white;
  border-color: $orange;
  padding-left: 22px;
  padding-right: 22px;
  border-width: 2px;
}

.btn-success {
  color: $black;
  font-size: 20px;
  background-color: $orange;
  border-color: $black;
  border-width: 2px;
  border-radius: 1.5rem;
  height: fit-content;
}

.upload-photo {
  border: 2px solid $black;
  padding: 8px 61px;
  background: $orange;
  border-radius: 8px;
}

#mic {
  display: flex;
  background-color: $yellow;
  padding: 8px;
  font-size: larger;
  border: 0.3px solid rgba(181, 181, 181, 0.456);
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

.no-margin {
  margin: 0 !important;
}

.like {
  text-decoration: none;
  font-size: 22px;
  // padding: 4px;
  color: rgb(247, 18, 18);
  // text-shadow: $black 1px 0 1px;;
  // position: relative;
  // padding: 8px 12px 8px 12px;
  // margin: 8px;
  // background-color: $white;
  // border: 2px solid;
  // border-radius: 50%;
  // border-color: $black;
}

.like-container{
  display: inline-block;
  font-size: small;
  position: relative;
  margin: 8px;
  background-color: $white;
  border: 2px solid;
  padding: 4px 10px; /* top right bottom left; */
  border-radius: 50%;
  border-color: $black;
  z-index: 1;
}
