.title-card {
  background-color: #FCD45D;
  border-radius: 16px;
  padding: 19px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.recipe-card {
  margin-top: 1.25rem;
  width: 100%;
  height: 15.6rem;
  position: relative;
}
.recipe-card-content {
  display: flex;
  background-color: $white;
  border-radius: 16px;
  border: 2px solid $black;
  width: 100%;
  padding: 0.625rem;
  justify-content: space-between;
}

.recipe-card-cuisines {
  display: flex;
  justify-content: space-evenly;
}

// .recipe-card-title {
//   // position: absolute;
//   // align-items: end;
//   // width: 66%;
//   // height: 1.5rem;
//   font-weight: 400;
//   font-size: 50vw;
// }
.recipe-card-image {
  background-size: cover;
  border-radius: 16px;
  border: 2px solid $black;
  width: 100%;
  height: 100%;
  color: $white;
  position: absolute;
}
.recipe-card-image h5 {
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
  font-weight: 400;
  font-size: 22px;
  width: 95%;
  padding-left: 14px;
  // bottom: -100px;
  // left: 16px;
  // right: 12px;
  // position: relative;
}

.recipe-card-infos {
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  font-weight: 400;
  // font-size: 7vw;
  bottom: 0px;
  position: absolute;
  width: 80%;
}

.like-count{
  display: inline-block;
  font-size: small;
  position: relative;
  margin: 8px;
  background-color: $white;
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  border-color: $black;
  color: rgb(251, 27, 27);
}
.card-image {
  width: 100%;
  height: 200px;
}
.small-card {
  width: 100%;
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  border-color: $black;
  background-color: $white;
}

.card-img-top {
  border-bottom: 2px solid;
  border-radius: 2%;
  border-color: $black;
  border-image: fill;

}

.num-card {
  border: 2px solid;
  padding: 8px;
  border-radius: 50px;
  border-color: $black;
  background-color: $white;
}



// .clickable-card {
//   display: block;
//   width: 100%;
//   height: 100%;
//   text-decoration: none; /* Remove default link underline */
//   color: inherit; /* Inherit text color from parent */
// }

.card-link {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.modal-dialog {
  margin-top: 65%;
}

.leftovers {
  width: 100%;
  background-color: $white;
  border: 2px solid $black;
  height: 50px;
  border-radius: 16px;
  margin-top: 8px;
  padding-left: 5%;
}
