.title-card {
  background-color: #FCD45D;
  border-radius: 16px;
  padding: 19px;
}
.recipe-card {
  margin-top: 1.25rem;
  width: 100%;
  height: 17.5rem;
}
.recipe-card-content {
  display: flex;
  background-color: $white;
  border-radius: 16px;
  border: 2px solid $black;
  width: 100%;
  padding: 0.625rem;
  justify-content: space-between;
}

.recipe-card-cuisines {
  display: flex;
  justify-content: space-evenly;
}

.recipe-card-content.title {
  position: absolute;
  align-items: end;
  width: 66%;
  height: 1.5rem;
  font-weight: 400;
  // font-size: 50vw;
}
.recipe-card-image {
  background-size: cover;
  border-radius: 16px;
  border: 2px solid $black;
  width: 100%;
  height: 100%;
  color: $white;
}
.recipe-card-image h5 {
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.like-count{
  display: inline-block;
  font-size: small;
  position: relative;
  margin: 8px;
  background-color: $white;
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  border-color: $black;
  color: rgb(253, 52, 103);
}
.card-image {
  width: 100%;
  height: 200px;
}
.small-card {
  width: 100%;
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  border-color: $black;
  background-color: $white;
}

.card-img-top {
  border-bottom: 2px solid;
  border-radius: 2%;
  border-color: $black;
  border-image: fill;

}

.num-card {
  border: 2px solid;
  padding: 8px;
  border-radius: 50px;
  border-color: $black;
  background-color: $white;
}

.modal-dialog {
  margin-top: 65%;
}
