.logo-container {
  position: relative;
  z-index: 2;
  text-align: center;

  img {
    max-width: 60%;
    height: auto;
  }

  #start-page {
    color: #FDF8E1;
    font-weight: bold;
    font-size: 46px;
  }

  h2 {
    color: #711218;
    font-size: 20px;
  }
}

.container-start {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
