.main {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

.btn-box {
  border: 2px solid $black;
  border-radius: 22px;
  justify-content:space-between;
  background-color: $white;
  display: flex;
  overflow: hidden;
}

.tab-button {
  padding: 2px 53px;
  border: 2px solid transparent;
  border-radius: 22px;
  background-color: $white;
  font-size: 20px;
  text-align: center;
  flex: 1;
  outline: none;
  height: 11.8%;
  width: 50.3333%;
}

.tab-content {
  padding: 20px;
}

.tab-button.active {
  background-color: $orange;
  border-radius: 22px;
  top: 0;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.tab-content {
  display: none; /* Hide all tab content sections by default */
  padding: 20px;
}

.tab-content.show {
  display: block; /* Show active tab content */
  margin-top: 12px;
}
