.main {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

.btn-box {
  border: 2px solid $black;
  border-radius: 22px;
  justify-content:space-between;
  background-color: $white;
  display: flex;
  overflow: hidden;
}

.tab {
  padding: 5px 53px;
  border: 2px solid transparent;
  border-radius: 22px;
  background-color: $white;
  font-size: 20px;
  text-align: center;
  flex: 1;
  outline: none;
}

.content {
  padding: 20px;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: $orange;
  transition: transform 0.3s ease-in-out;
}
