.small-card {
  width: 20rem;
  border: 2px solid;
  border-radius: 2%;
  border-color: $black;
  background-color: $white;
}

.card-img-top {
  border-bottom: 2px solid;
  border-radius: 2%;
  border-color: $black;

}
