.containerr{
  background-color: $yellow;
  padding : 10%;
}

.card-recipe {
  margin-bottom: 22px;
  margin-top: 22px;
  border-radius: 8px;
  border: 2px solid $black;
  background-color: $white;
  padding-bottom: 4px;
}

.card-recipe-image{
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid $black;
  width: 100%;
  height: 12.5rem;
}

.card-recipe-infos {
  justify-content: space-between;
}
