.container-ingredients-index {
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-ingredients-card{
  border: 2px solid #000;
  margin-bottom: 50px;
  margin-top: 25px;
  border-radius: 10px;
  padding: 20px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgb(244, 244, 244);

  .ingredients-card{
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
  }

  .ingredient-text{
    align-items:center;
  }
}

.card-add-ingredient{
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);

  .btn-add-ingredient {
    color: rgb(56, 56, 56);
    border-color: rgb(56, 56, 56);
    background-color: rgb(252, 212, 93);
    font-size: 20px;
    background-color: $orange;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-radius: 30px;
  }
}

.ingredient-input{
  background-color: white;
}

.btn-continue{
  background-color: rgb(255, 158, 64);
  border: 2px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);

  font-size: 18px;
  width: 170px;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  margin: 50px;
}

.card-title{
  border-bottom: 2px solid;
}
